{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book search</title>
        {% block header %}
		{% include "header.html" %}
        {% endblock header %}
    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>
</html>
