{% block content %}

    <table style="color: green; width: 100%;padding:20px;">
          <caption style="color:black;">By your term we found</caption>
          <thead>
            <tr>
              <th>#</th>
              <th>Book name</th>
              <th>CHAPTER</th>
              <th>PAGE</th>
            </tr>
          </thead>
          <tbody style="text-align: center; color: #000;">
<!--             {% for item in data %}
     <tr>
       <th>{{ forloop.counter0 }}</th>
       <td>{{ item.book_part.book.name }}</td>
       <td>{{ item.book_part.title }}</td>
       <td>{{ item.book_part.page }}</td>
     </tr>
   {% endfor %}    -->
            {% if not data %}
            <tr>
              <td><h3>Nothing Found</h3></td>
            </tr>
            {% endif %}
            {% for item in data %}
               <tr>
                 <th>{{ forloop.counter }}</th>
                 <td>{{ item.name }}</td>
                 <td>{{ item.title }}</td>
                 <td>{{ item.page }}</td>
               </tr>
            {% endfor %}   
          </tbody>
    </table>
{% endblock content %}